.App {
  display: grid;

  background-color: #3f3f47;
  overflow: hidden;

  grid-template-columns: 1fr;
  grid-template-rows: 2em 1fr;
  font-size: calc(10px + 2vmin);
}

.Nav-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #202024;
  text-align: center;
  grid-column: 1;
  grid-row: 1;

  font-size: calc(12px + 2vmin);
  color: #befaec;
}

.Page-content {
  color: white;
  grid-column: 1;
  margin-left: 2em;
  margin-right: 2em;

  grid-row: 2;
}
.Page-content a {
  color: #9bccc1;
}
.Nav-panel a {
  text-decoration: none;
}
.Page-content header {
  text-align: center;
}
