.App {
  grid-template-columns: 1fr;
  grid-template-rows: 2rem 1fr;
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  margin: 0;
  padding: 0;
  background-color: #3f3f47;
  overflow: scroll;
  width: 100vw;
}

.Nav-panel {
  width: 100vw;
  display: inline-block;
  background-color: #202024;
  text-align: center;
  grid-column: 1;
  grid-row: 1;

  font-size: calc(18px + 2vmin);
  color: #befaec;
}

.Page-content {
  width: 90%;
  justify-self: center;
  color: white;
  grid-column: 1;
  grid-row: 2;
}
.Page-content a {
  color: #9bccc1;
}
.Nav-panel a {
  text-decoration: none;
}
.Page-content header {
  text-align: center;
}
.gif {
  box-sizing: border-box;
  justify-items: center;

  width: 30em;
  height: 20em;
}
